<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width, initial-scale=1.0">
    <title>阿姨端sdk测试页面</title>
    <script>
        !function(t,e){function n(){var e=r.getBoundingClientRect().width/7.5;r.style.fontSize=e+"px",d.rem=t.rem=e}var i,o=t.document,r=o.documentElement,a=0,d=e.flexible||(e.flexible={}),s=t.navigator.appVersion.match(/iphone/gi),m=t.devicePixelRatio;a=s?3<=m&&(!a||3<=a)?3:2<=m&&(!a||2<=a)?2:1:1,r.setAttribute("data-dpr",a),"complete"===o.readyState?o.body.style.fontSize="12px":o.addEventListener("DOMContentLoaded",function(){o.body.style.fontSize="12px"},!1);var p="onorientationchange"in window?"orientationchange":"resize";t.addEventListener(p,function(){clearTimeout(i),i=setTimeout(n,300)},!1),t.addEventListener("pageshow",function(e){e.persisted&&(clearTimeout(i),i=setTimeout(n,300))},!1),n(),d.dpr=t.dpr=a,d.refreshRem=n,d.rem2px=function(e){var t=parseFloat(e)*this.rem;return"string"==typeof e&&e.match(/rem$/)&&(t+="px"),t},d.px2rem=function(e){var t=parseFloat(e)/this.rem;return"string"==typeof e&&e.match(/px$/)&&(t+="rem"),t}}(window,window.lib||(window.lib={}));
    </script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .el-textarea__inner {
            min-height: 4rem!important;
        }
        .el-select-dropdown {
            max-width: 100% !important;
            left: 0 !important;
        }
        #__vconsole .vc-switch {bottom: 100px!important;}
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            overflow-x: hidden;
        }
        #app {
            padding: 1.2rem 0.3rem 0;
        }
    </style>
    <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <el-form>
            <el-form-item label="选择sdk">
                <el-select
                    style="width: 100%"
                    v-model="sdkSelect"
                    @change="onSelectChange"
                >
                    <el-option
                        :key="sdk.key"
                        :value="sdk.value"
                        v-for="sdk in sdks"
                    />
                </el-select>
            </el-form-item>
            <el-form-item v-show="isShowParams" label="参数">
                <el-input
                    row="9"
                    type="textarea"
                    placeholder="请输入参数"
                    v-model="sdkParams"
                />
            </el-form-item>
            <el-alert
                style="margin-bottom: 0.3rem;"
                v-if="!isShowParams"
                title="该不用传参数"
                type="warning"
                :closable="false"
            >
            </el-alert>
            <el-alert
                style="margin-bottom: 0.3rem;"
                v-if="isShowParams"
                :title="paramString"
                type="warning"
                :closable="false"
            >
            </el-alert>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">执行</el-button>
            </el-form-item>
        </el-form>
    </div>
    <script>
        window.VConsole && new window.VConsole();
    </script>
    <script src="//cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="//unpkg.com/element-ui/lib/index.js"></script>
    <script src="./aunt.iife.js"></script>
    <script src="./auntDemo.umd.js"></script>
</body>
</html>